$min-width: 895px !default;
$sidebar-size: 20%;

#main {
  width: 660px;
  margin: 0px auto;
}

#sidebar {
  position: relative;
  padding-top: 10px;
  border-bottom: 1px solid #E2E2E2;
  background-color: rgb(251, 252, 254);
  margin-bottom: 10px;
  h1 {
    padding: 15px;
  }
}

ul#menu {
  width: auto;
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  li {
    display: block;
  }

  li.link {
    display: inline-block;
    width: auto;
    margin-bottom: 5px;
  }
  a {
    margin-left: 0px;
    display: inline-block;
  }
}

// Short screen
@media only screen and (max-height: 650px) {
  #main {
    width: auto;
    max-width: 95%;
  }

  ul#menu a{
    /*margin-left: 0px;*/
  }
}

/*dont change font weight on landcape mode*/
/*this also fixes the position fixed problems with sidebar*/
@media only screen and (max-width: 630px),
(device-height: 1024px) and (device-width: 768px) and (orientation: landscape) {
  #main, #sidebar{
    -webkit-transform:translate3d(0,0,0);
  }
}
