$min-width: 895px;
$sidebar-size: 25%;

body {
  min-width: $min-width;
}

#main {
  border-left: 1px solid #e3e3e3;
  margin-left: $sidebar-size;
  min-height: 900px;
  min-width: 658px;
  position: relative;
  z-index: 9999;
}

#sidebar {
  position: fixed;
  width: $sidebar-size;
  padding-top: 3%;
  padding-left: 1.5%;
  min-height: 100%;
  z-index: 1;
}

ul#menu {
  clear: both;
  margin-left: 30px;
  width: 75%;
  li {
    display: block;
    margin-bottom: 15px;
  }
  a {
    display: inline-block;
    z-index: 999;
    padding: 7px;
    padding-left: 33px;
    padding-right: 12px;
    margin-left: -15px;
    position: relative;
  }
}

#nexus {
  position: fixed;
  left: 48px;
  bottom: 25px;
  z-index: 9999;
}
