.flex-content { max-width: 100%; height: auto; }

.basic-alignment {
  &.left { float: left; margin-right: 1.5em; }
  &.right { float: right; margin-left: 1.5em; }
  &.center { display:block; margin: 0 auto 1.5em; }
  &.left, &.right { margin-bottom: .8em; }
}

/* Core theme application */
a {
  @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $active: $link-color-active);
  text-decoration: none;
}

header h1 a {
  color: $link-title-color;
}

h2 a, header#sidebar a {
  color: black;
  &:hover{
    color: $theme-color;
  }
}


/* General rules */
body {
  background-color: $body-bg;
}

li {
  line-height: 18px;
  margin-bottom: 12px;
}

ul {
  display: block;
  list-style-type: none;
}


// Logo
aside#logo {
  background-color: $theme-color;
}

aside#logo div {
  background-size: 100% 100%;
  background: white
}



// images and photoes
p img, video, .flash-video {
  @extend .flex-content;
  @extend .basic-alignment;
  @include shadow-box;
}

video, .flash-video { margin: 0 auto 1.5em; }
video { display: block; width: 100%; }
.flash-video {
  > div {
    position: relative;
    display: block;
    padding-bottom: 56.25%;
    padding-top: 1px;
    height: 0;
    overflow: hidden;
    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

// best with open sans
body {
  font-size: 15px;
  line-height: 1.53em;
  color: rgb(77, 77, 77);
  font-weight: normal;
  letter-spacing: normal;
  word-spacing: 0px;
}


// pagination
nav#pagination {
  /*position: relative;*/
  padding: 40px;
  border-top: 1px solid #E2E2E2;
  padding-bottom: 100px;
  span.next a, span.prev a {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    font-weight: 700;
    text-transform: uppercase;
    border: 3px solid;
  }
  span.prev {
    display: block;
    float: left;
  }
  span.next {
    display: block;
    float: right;
  }
}

/*sidebar*/

header#sidebar .link a {
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border: 3px solid;
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  z-index: 999;
  line-height: 14px;
  padding: 7px 15px;
  color: rgb(153, 153, 153);
  border: 4px solid rgb(248, 248, 248);
  &:hover{
    border-color: $theme-color;
  }
}

header#sidebar h1#title a {
  color: black;
}


html {
  -webkit-text-size-adjust: 110%
}


/*readings*/
.book h2 {
  padding-top: 0.8em;
  background: $img-border bottom left repeat-x;
  background-color: transparent;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  &:first-child {
    background: none;
  }
}

.basic-alignment {
  position: static;
  padding-top: 0.5em;
}
