// Articles
article.post {
  width: auto;
  position: relative;
  padding-left: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #E2E2E2;
  min-height: 130px;
  /*border-top: 1px solid #E2E2E2;*/
}

section.comments {
  width: auto;
  position: relative;
  padding-left: 50px;
  overflow-x: hidden;
}

section#main article.post h2, article.post p{
  max-width: 550px;
}

 /*code snippets*/
.code {
  max-width: 550px;
}
 /* code blocks */
article.post pre {
  max-width: 524px;
}

 /*Anchor*/
h2.entry-title a.anchor {
  font-size: 0.9em;
  margin-left: 5px;
  border-bottom: 0;
}

 /*Medium-width screen*/
@media only screen and (max-width: 630px),
 (device-height: 1024px) and (device-width: 768px) and (orientation: portrait) {

  body { min-width: 0; }

  section#main {
    margin: 0;
    border: none;
    min-width: 0;
    margin-top: 15px;
    overflow: hidden;
  }

  section#main  article.post p, article figure {
    max-width: 650px;
  }

  section#main article h2 {
    margin-top: 0;
  }

  article.post {
    padding-top: 30px;
    padding-bottom: 15px;
  }

  .code {
    max-width: 650px;
  }
  article.post pre {
    max-width: 624px;
  }
}

/* smartphones(portrait) */
@media only screen and (max-width : 320px) {
  article.post {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 30px;
    padding-bottom: 15px;
  }
   article figure {
    max-width: 350px;
  }
}


/* Smartphones (landscape) ----------- */
@media only screen and (max-device-width: 480px) {
  article.post {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 15px;
  }
   article figure {
    max-width: 96%;
  }
}

/*apla den thelw na prosthesw alli mia klasi sto default source tou octopress*/
article[role="article"]{
  @extend article.post;
}
