// Articles
article.post {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 130px;
  border-bottom: 1px solid #E2E2E2;
}

section.comments {
  width: auto;
  position: relative;
  padding-left: 50px;
  overflow-x: hidden;
}

section#main article.post header {
  text-align: center;
  margin-bottom: 20px;
}
section#main article.post h1 {
  font-weight: normal;
}


 /*Anchor*/
h2.entry-title a.anchor {
  font-size: 0.9em;
  margin-left: 5px;
  border-bottom: 0;
}

 /*Medium-width screen*/
@media only screen and (max-width: 630px),
 (device-height: 1024px) and (device-width: 768px) and (orientation: portrait) {

  section#main article h2 {
    margin-top: 0;
  }

  article.post {
    padding-top: 30px;
  }

  footer {
    display: inline-block;
    padding-bottom: 20px;
  }
}

/* smartphones(portrait) */
@media only screen and (max-width : 320px) {
  article.post {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 30px;
    /*padding-bottom: 15px;*/
  }
  footer {
    display: inline-block;
  }
}


/* Smartphones (landscape) ----------- */
@media only screen and (max-device-width: 480px) {
  article.post {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 15px;
  }
   article figure {
    max-width: 96%;
  }

  footer {
    display: inline-block;
    padding-bottom: 15px;
  }
}

article[role="article"]{
  @extend article.post;
}
