@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$sans:  "Open Sans", "Proxima Nova", "Helvetica Neue", Arial, sans-serif !default;
$serif:  Georgia, Times, "Times New Roman", serif !default;
$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;
$heading-font-family: "Georgia", "Helvetica Neue", Arial, sans-serif !default;
$header-title-font-family: $heading-font-family !default;
$header-subtitle-font-family: $heading-font-family !default;
